<%= link_to("<< Back to List", {:action => 'index', :team_member_id => @team_member.id}, :class => 'back-link') %>

<div class="bio edit">
    <h2>Update Biography</h2>

    <%= form_for(:bio, :url => {:action => 'update', :id => @bio.id, :team_member_id => @team_member.id}) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
        <%= submit_tag("Update Biography") %>
    </div>

    <% end %>
</div>
