<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="contact_information edit">
    <h2>Update Contact Information</h2>

    <%= form_for(:contact_information, :url => {:action => 'update', :id => @contact_information.id}) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
        <%= submit_tag("Update Contact Information") %>
    </div>

    <% end %>
</div>
