<%= link_to("<< Back to List", {:action => 'index', :admin_id => @admin.id}, :class => 'back-link') %>

<div class="contact_information new">
    <h2>Create Contact Information</h2>
    <%= form_for(:contact_information, :url => {:action => 'create', :admin_id => @admin.id}) do |f| %>
        <%= render(:partial => "form", :locals => {:f => f}) %>
        <div class="form-buttons">
            <%= submit_tag("Create Contact Information") %>
        </div>
    <% end %>
</div>
