<table summary="Rating form fields">
    <tr>
        <th><%= f.label(:rating, "Rating") %></th>
        <td><%= f.text_area(:rating) %></td>
    </tr>
    <tr>
        <th><%= f.label(:version_id, "Version ID") %></th>
        <td><%= f.text_field(:version_id) %></td>
    </tr>
</table>
