<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="registered_users edit">
    <h2>Update Registered User</h2>

    <%= form_for(:registered_user, :url => {:action => 'update', :id => @registered_user.id}) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
        <%= submit_tag("Update Registered User") %>
    </div>

    <% end %>
</div>
