<table summary="Review form fields">
    <tr>
        <th><%= f.label(:subject, "Subject") %></th>
        <td><%= f.text_field(:subject) %></td>
    </tr>
    <tr>
        <th><%= f.label(:message, "Message") %></th>
        <td><%= f.text_area(:message) %></td>
    </tr>
</table>
